{% extends "post/base.html" %}
	{% block title %}忘記密碼{% endblock %}
		{% block style %}<style>
		.a{
			cursor: pointer;
		}		
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
			    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
                	<p>請輸入您的Email和手機:</p>
	<form action="." method="post">
		{{ form.as_p }}
		{%csrf_token%}

		<p><input type="submit" class="a" value="送出"></p>
	                </div>
              </div>
            </div>
          </section>
        </div>
	


	</form>
	{% endblock %}