{% extends "post/base.html" %}
	{% block title %}羽球章程{% endblock %}
	{% block style %}<style>
		.a{
			cursor: pointer;
		}
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
	    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
                <h3><strong>2019大資盃羽球競賽章程</strong></h3>

<p>&nbsp;</p>

<p><strong>一、宗旨：</strong></p>

<p>大資盃係由台灣各大專院校資訊相關科系所共同參與之大型體育競賽，希望藉由大資盃羽球項目之賽事讓學生培養健康的體魄、加強各校系之間的交流、精進羽球項目之技術水準等目的。</p>

<p>&nbsp;</p>

<p><strong>二、主辦單位：</strong></p>

<p>國立彰化師範大學資訊管理學系系學會(總召：林育藜 0985-663-988；副召：耿映翔 0970-305-150)</p>

<p>聯絡方式：nuic2019ncue@gmail.com</p>

<p>臉書粉絲專頁：<a href="http://www.facebook.com/2019%E5%A4%A7%E8%B3%87%E7%9B%83-750720528613543/">2019大資盃</a></p>

<p>&nbsp;</p>

<p><strong>三、比賽日期：</strong></p>

<del><p>2019 / 01 / 19 &ndash; 2019 / 01 / 20</p></del>
<del><p>2019 / 02 / 23 &ndash; 2019 / 02 / 24(暫定) (11/30 更新)</p></del>
<p>2019 / 01 / 20 &ndash; 2019 / 01 / 21 (12/05 更新)</p>

<p>&nbsp;</p>

<p><strong>四、比賽地點：</strong></p>


<p>2019 / 01 / 20:國立彰化師範大學(進德校區) 體育館-2F羽球館<del> (11/30 更新)</del></p>
<p>2019 / 01 / 21:彰北國民運動中心 羽球館 (12/05 更新)</p>
<p>&nbsp;</p>

<p><strong>五、報名費用：</strong></p>

<p>報名費每隊新台幣 4,500 元，保證金每隊新台幣&nbsp;500 元。<br />
報名時需再加上 39 &times; 選手人數的保險費用以及 200 元下屆主辦基金。</p>

<p>※大會在繳完費後只會提供繳費證明，不會提供<strong>經費核銷</strong>或<strong>收據</strong>。</p>
<p>※如未打算保保險，則需下載<a href="http://drive.google.com/open?id=19hIki3Z_64-QYtofYs6Cyt6jJ3MyMn-r">保險切結書</a>，以實體寄信的方式寄至 500彰化縣彰化市進德路1號，收件人：林育藜，但是仍須匯款保險金額，此保險金會到賽後逐一退回。</p>

<p>&nbsp;</p>

<p><strong>六、參加資格：</strong></p>

<p>(一) 全國大專院校 107&nbsp;學年度第一學期完成註冊之資訊相關科系在學學生（含該系所研究生）。<br />
※ 不含外系雙主修、輔系資訊相關科系及在職專班。</p>

<p>(二) 參賽運動員資格：</p>


<ol>
	<li>1. 以大會所邀請之大專校院系所 107 學年度上學期正式註冊之在學學生（含該系所研究生）為限（不含選讀生、先修生、補習生、空中補校、僑生專修班及各種短期訓練班學生）。</li><br />
	<li>2. 體資/體保生不允許報名參賽。（曾參加大專校院運動成績優良學生甄審、甄試、單獨招生、轉學(插班)考試加分等「中等以上學校運動成績優良學生升學輔導辦法」規定之入學管道並經榜示或遞補錄取者定義為專項體保生。非該項目專項體保生亦視同專項體保生並在此限制之內。）<br />
		※ 註：非該項目專項體保生亦視同專項體保生並在此限制之內。</li><br />
	<li>3. 符合下列資格者即視同體資/體保生<br />
	(i) 以羽球專長入學之球員。(含獨招)<br />
	(ii) 研究生在大學是以羽球專長入學之球員。<br />
	(iii) 轉學生、於首次入學以羽球專長入學之球員。<br />
	※ 若違反以上規定之隊伍經檢舉查證屬實，則取消該隊伍之該項競賽成績及名次並全數扣除該隊保證金。</li>

</ol>

<p>(三) 同校可聯隊參加，至多兩系聯隊，聯隊的兩系皆必須為資訊相關科系，第一階段報名兩隊最多可報兩隊。<br />
如：（資工資管聯隊A+資工資管聯隊B）但不能（資工資管聯隊+資工+資管）</p>

<p>&nbsp;</p>

<p><strong>七、報名人數：</strong></p>

<p>(一) 每隊可報球員至少 7&nbsp;人，&nbsp;上限 15 人。經理、啦啦隊等人員不在此規範內。每場比賽可登錄上場以 7 人為限。</p>

<p>(二) 隊伍上限 40 隊。若多於 40 支隊伍，錄取隊伍按報名時間順序決定&nbsp;（須完成所有手續）。</p>

<p>(三) 各校系羽球第一階段報名限報 1 隊，若隊伍數超過上限，則以報名時間排序（需完成所有程序）。 若隊伍數量未達上限隊伍數，則開放第二階段報名，第一階段報名成功之隊伍可以報名第 2 隊，錄取順序同第一階段。</p>

<p>&nbsp;</p>

<p><strong>八、比賽規則：</strong></p>

<p>採用國際羽球總會最新公佈之羽球規則。規則未盡事宜，由審判委員會解釋。若國際羽球總會最新公佈之羽球規則與大會羽球規則有所衝突，以大會羽球規定為準則。</p>

<p>&nbsp;</p>

<p><strong>九、比賽用球：</strong></p>

<p>RSL 4號 比賽球</p>

<p>&nbsp;</p>

<p><strong>十、團隊獎項：</strong></p>

<p>取前四名，得名隊伍各贈與獎盃一座。</p>

<p>&nbsp;</p>

<p><strong>十一、比賽制度：</strong></p>

<p>(一) 初賽：分組循環賽，每組取兩名晉級。</p>

<p>(二) 複賽：單敗淘汰賽。</p>

<p>(三) 循環賽採新制，打五點，一局比賽在五點全打完之後結束，拿下三點為勝。每點為30分，15分換場，遇29:29不加分。出場序：男單、女單、混雙、男雙、男單，每隊只有一名女選手可兼一點或代男選手一點（擇一）。</p>

<p>(四)淘汰賽採新制，打五點，比賽在雙方隊伍其中一方先搶下三點得勝，此場比賽隨之結束。每點為30分，15分換場，遇29:29不加分。出場序：男單、女單、混雙、男雙、男單，每隊只有一名女選手可兼一點或代男選手一點（擇一）。</p>

<p>(五) 進入四強後每點改為21分一局，每點採三局兩勝制，打一局即換場，當比賽到達 20 比20 時，先連獲二分者獲勝，否則以先到達 30 分者為獲勝。若打到第三局時，11分換場。</p>

<p>(六) 發球權及開賽場地在賽前由裁判丟球決定。</p>

<p>(七) 換場時選手可休息一分鐘。</p>

<p>(八) 循環賽如遇勝場數相同則以勝敗點差，高者為勝。如又相同，則以相關隊伍得分之差，多者為勝，如再相同，由大會抽籤決定。</p>

<p>(九) 裁判：主審由大會聘任。</p>

<p>&nbsp;</p>

<p><strong>十二、比賽規定：</strong></p>

<p>(一) 比賽前雙方列隊，各點比賽人員應盡量到場。若開賽仍未到場或逾時五分鐘，則視為棄點。亦或兩隊協調同意變更比賽五點順序，但各點比賽時間到而人員未到仍視為棄點。各組球員出賽時請攜帶選手證以備查驗，未攜帶證件一律不准出賽（經判定失格如同排空點論處）。</p>

<p>(二) 若出賽單位選手不足，應於事前向大會申明，在告知對方後，只可將選手排在前面各點，出場序由雙方協調，中間不得空點（雙打時僅一名選手出賽亦視為空點），後面未排之各點均判為對方勝場（若未告知時，則該場比賽視同空點而判定對方獲勝）。</p>

<p>(三) 球員資格如有不符規定者，應由其所屬單位主管負責。</p>

<p>(四) 各隊如有不符規定之球員出場比賽時，一經察覺即停止該隊繼續比賽，所有賽事之成績不予以計算，並全數扣除該隊保證金。</p>

<p>(五) 比賽期間如有發生球員互毆或汙辱裁判事件，除按規定停止其出場比賽外，並永久停止該單位比賽資格及全數扣除該隊之保證金。</p>

<p>(六) 凡經審查資格不符，則取消該單位所獲之成績（名次），並停止該單位參加下屆比賽之資格。</p>

<p>(七) 不服從裁判之判決及不遵守比賽條例規定者，取消比賽資格並全數扣除該隊之保證金。</p>

<p>(八) 不硬性規定球員服裝，但不得著拖涼鞋。一旦遭遇抗議，違反此規定之球員喪失參賽資格。</p>

<p>&nbsp;</p>

<p><strong>十三、特殊原因更換球員：</strong></p>

<p>若有特殊原因（不可抗拒之意外造成球員無法出賽）須要求更換球員，必須於賽程抽籤完成前提出證明申請，每隊最多申請更動三位，由主辦單位認可便受理。但第一隊與第二隊之間球員交換不在此限。<br />
※惟二領後所有參賽者名單須確定，恕無法進行任何更動。</p>

<p>&nbsp;</p>

<p><strong>十四、檢錄：</strong></p>

<p>(一) 賽前30分鐘到場並至檢錄處報到領取出賽名單。</p>

<p>(二) 賽前15分鐘至檢錄處繳回出賽名單，並攜帶球員學生證及選手證完成檢錄程序。</p>

<p>(三) 比賽開始後5分鐘未到之隊伍以棄權論。</p>

<p>(四) 選手證遺失者，請攜帶一吋照片以及身份證明文件(如身分證)至大會檢錄台申請補發，並該隊扣100元保證金。</p>

<p>各隊伍應詳閱出賽時間，大會將不另行通知。<br />
若對出賽名單有疑義必須於賽前向大會反應之。<br />
出賽名單一旦繳回後，不予更改。</p>

<p>&nbsp;</p>

<p><strong>十五、申訴：</strong></p>

<p>(一) 有關運動員資格問題，各參賽球隊應於比賽開始前或列隊時向裁判或大會提出；若申訴成立時，則取消被檢舉隊伍之比賽資格。</p>

<p>(二) 比賽過程中，球隊如對裁判權責之判決有任何疑慮，請教練以謙恭有禮的態度向裁判溝通尋求解釋。</p>

<p>(三) 申訴程序：</p>

<ol>
	<li>欲申訴之球隊或球員，應於開賽前或列隊時以口頭方式，向大會或裁判以已完成報名之球隊名義提出，若被申訴者為未報名參賽、不具有學生資格或冒名頂替，大會將要求被申訴者出示選手證、足資證明107學年度上學期已正式註冊之學生證、以及第二張有照片的身分證明文件，以確認被申訴者之報名資格；若被申訴者為體保生身分有疑慮，請申訴者檢具相關證明資料，以便確認被申訴者之體資/體保生身分。</li>
	<li>除上述提及之申訴，大會保有接受與否之權利。</li>
	<li>每場球賽開始前，雙方皆可以向該場裁判或大會申請查驗對手選手證，對方不得拒絕出示，如規勸後仍拒絕，即取消該隊伍之比賽資格，並由申請方以3:0贏得該場比賽，判決後不得提出異議。</li>
</ol>

<p>&nbsp;</p>

<p><strong>十六、保證金制度補充：</strong></p>

<p>每隊收取保證金500，除上述所提到之扣款事件外，此處另外補充。</p>

<p>(一) 破壞場地清潔，隨地亂丟垃圾或造成場地清潔不易者，經大會認定後將扣除該隊保證金300元。</p>

<p>(二) 若有參賽選手或隊伍蓄意破壞任何場地、器材、球具，一律照價賠償，未付賠償責任之前將不予退還保證金，並持續追討賠償事宜。</p>

<p>&nbsp;</p>

<p><strong>十七、所有賽事相關事務（包含賽制、競賽規則等），請密切注意2019大資盃羽球官方網站及2019大資盃臉書粉專。</strong></p>

<p>&nbsp;</p>

<p><strong>十八、本競賽規程如有新增或修改部分則以2019年大資盃官方網站公告為依據。</strong></p>

<p>&nbsp;</p>

<p><strong>十九、本大會保留任何修改賽規賽制之權力。</strong></p>

<p>&nbsp;</p>

<p><strong>二十、本章程若有未盡事宜者，得由主辦單位修正後另行公布。</strong></p>

<p>&nbsp;</p>

<p><strong>二十一、領隊會議：</strong></p>

<p>第一次領隊會議：2019 / 11 / 18</p>

<p>第二次領隊會議：2019&nbsp;/ 12 / 22</p>

                </div>
              </div>

            </div>
          </section>
        </div>
	
	{% endblock %}
