{% extends "post/base.html" %}
	{% block title %}羽球章程{% endblock %}
	{% block style %}<style>
		.a{
			cursor: pointer;
		}
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
	    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
			<img src="https://i.imgur.com/TpKVp4C.jpg"><br />	
                </div>
              </div>

            </div>
          </section>
        </div>
	
	{% endblock %}
