<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="/static/myapp/E_10_1.js"></script>
	<title></title>
</head>
<body>
		<fieldset>
			<legend>計算本利和:</legend>
			存款金額:<input type="text" name="amount" id="amount"><br>
			年利率:<input type="text" name="rate" id="rate"><br>
			期數:<input type="text" name="period" id="period"><br>
			<input type="file" name="">
			<button type="button" name="btn" id="btn">送出</button>
			<p>本利和:<span id="result"></span></p>
		</fieldset>
</body>
</html>