{% extends "post/base.html" %}
	{% block title %}飲食相關{% endblock %}
	{% block style %}<style>
		.a{
			cursor: pointer;
		}
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
	    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
		<p><img alt="" src="https://i.imgur.com/Uwu2i71.jpg" style="height:636px; width:933px" /></p>

<p>大部分食物位於<strong>實踐路</strong>和<strong>進德路</strong>上</p>

<p>推薦：</p>

<ol>
	<li>●杏花村 &nbsp;&nbsp;&nbsp; 價位60~100</li>
		<p>&nbsp;&nbsp;營業項目：便當</p>	
	<li>●酷樂豬（在南海茶道斜對面） 價位50~90</li>
		<p>&nbsp;&nbsp;營業項目：簡餐、飲料<p>
	<li>●彰香豆腐麵&nbsp; 價位60up</li>
		<p>&nbsp;&nbsp;營業項目：飲料、麵食</p>
	<li>●大眾牛肉麵&nbsp; 價位30~110</li>
		<p>&nbsp;&nbsp;營業項目：飲料、麵食</p>
	<li>●爭夯牛排館&nbsp; 價位120up</li>
		<p>&nbsp;&nbsp;營業項目：飲料、簡餐</p>
	<li>●讚不絕口&nbsp; &nbsp; &nbsp;價位110up</li>
		<p>&nbsp;&nbsp;營業項目：飲料、甜食、小火鍋</p>
	<li>●御之味&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;     價位65up</li>
		<p>&nbsp;&nbsp;營業項目：飲料、便當</p>
</ol
<br />
<hr class="style-one">

<img src="https://i.imgur.com/exxW1On.png" width="900px" height="400px">
<br />
<br />
<p>彰北附近屬於住宅區，相對商家較為稀少，可在進德校區先行用餐或是彰化火車站</p>
<ol>
    <li>●麥當勞&nbsp;價位100up</li>
        <p>&nbsp;&nbsp;營業項目：速食、飲料</p>
    <li>●莊家火雞肉飯&nbsp;價位70up</li>
        <p>&nbsp;&nbsp;營業項目：便當</p>
    <li>●家樂福&nbsp;價位100up</li>
        <p>&nbsp;&nbsp;營業項目：定食、速食、麵包</p>
                </div>
              </div>
            </div>
          </section>
        </div>
	
	{% endblock %}
