{% extends "post/base.html" %}
	{% block title %}保險資訊{% endblock %}
	{% block style %}<style>
		.a{
			cursor: pointer;
		}
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
	    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
                <h1>保險相關</h1>

<p>2019&nbsp;大資盃所有選手的保險，由本次主辦幫選手辦理的保險為 南山人壽股份有限公司—旅遊平保險(意外型)</p>
<p>保險內容：十萬元意外傷害醫療(實支實付)&nbsp;以及 一百萬意外身故殘廢</p>
<p>保險期間：&nbsp;2019/01/20&nbsp;~ 2019/01/21</p>

<p>保險公司承辦人員：謝小姐 0971-250247 / 0917-291810</p>

<p>以下幾點事項攸關被保人之相關權益及義務，麻煩各校領隊及選手務必注意！</p>

<p>　　一、主辦單位僅替南山人壽蒐集各校參賽保險個人資料，若球員資料不正確或遺漏，造成南山處理保單時，<br />
　　　　資料有誤或遺漏，而無法申請理賠，<strong>主辦與保險公司不負責任</strong>。<br />
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  二、南山人壽為第三方資料蒐集者，球員保險名單業務人員於賽前與主辦多次確認是否遺漏或錯誤，因此&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   若有遺漏保險的球員，<strong>保險公司一概不負責</strong>。<br />
　　三、南山人壽辦理，有辦理保險的選手於保險期間內，只要是意外受傷，<strong>而主要原因並非本身疾病而引起的<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;傷害</strong>，無論前往比賽途中或比賽中的意外，可就醫申請意外醫療的理賠。（實支實付，醫療意外傷害理<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;賠上限10萬）<br />
　　四、在<strong>保險期間內受傷</strong>，想申請保險理賠，請於第一時間告知主辦單位並索取保險業務人員聯絡資料，<br />
　　　　<strong>並且在受傷「當日」至醫院急診/就診</strong>，跟醫生說明為運動傷害（說明因運動而受傷），<br />
　　　　並收好診斷證明書與收據<strong>（不要交付給主辦，請直接聯絡保險業務員）</strong>以避免不必要紛爭。<br />
　　五、就診後索取就醫的健保收據及醫生診斷證明書（若在同間醫院複診，最後一次看診時再申請診斷證明即<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可；在不同醫院複診，就要在另開診斷證明），最後洽詢保險服務員。<br />
　　六、受傷若要申請理賠， 最晚請於賽後十天提出申請。<br />
　　七、若想詢問保險相關問題或提出申請理賠，請主動聯絡主辦單位，謝謝。</p>

<p>以上幾點注意事項請選手及領隊注意及配合，謝謝</p>	
                </div>
              </div>

            </div>
          </section>
        </div>
	
	{% endblock %}
