{% extends "post/base.html" %}
	{% block title %}準備事項{% endblock %}
	{% block style %}<style>
		.a{
			cursor: pointer;
		}
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
	    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
			<h1><strong>2019&nbsp;全國大專院校資訊科系運動盃賽報名網站使用說明</strong></h1>

<p><br />
<br />
以下介紹2019大資盃報名網站的使用方式，在進行報名手續前請務必詳閱此文件及&nbsp;<a href="http://nuic2019ncue.com.tw:8000/ann/2018/11/27/explain/">[公告] 報名說明及相關資料準備</a>&nbsp;，以避免您的損失。<br />
<!-- need modify--> &nbsp;</p>

<p><strong>一、帳號使用</strong></p>

<p>在報名期間，請各校系體育負責人或系隊負責人前往&nbsp;<a href="http://nuic2019ncue.com.tw:8000/user/login/">報名網站</a>&nbsp;註冊帳號；至信箱收取認證信以開通帳戶後，您才得以進行報名手續、查看隊伍資訊與各項目的報名狀況。<br />
報名網站提供修改使用者帳戶資料與忘記密碼的功能，<strong>請各負責人確認使用者帳戶中的個人資料正確，若因資料不全而無法與您聯絡，主辦方概不負責</strong>。<br />
<br />
&nbsp;</p>

<p><strong>二、隊伍報名</strong></p>

<p>(一) 點擊羽球報名，並填入隊伍名稱送出之後，點選編輯並開始新增隊員，選手所需的資料與規格：如下列說明，詳細內容亦可參考&nbsp;<a href="http://nuic2019ncue.com.tw:8000/ann/2018/11/27/explain/">[公告] 報名說明及相關資料準備。</a></p>

<p>※隊伍名稱：為了識別方便，命名請以校系名稱為主。若您有意於第二階段報名第二隊，請在隊伍簡稱填寫A（或B）以利區分，並且等候第一階段報名結束後的空額做報名流程，如在第一階段直接報名兩隊，則不予以審核。</p>

<p><img alt="" src="https://i.imgur.com/Up6Rz4q.jpg" style="float:left; height:276px; width:900px" /></p>


<p>(二) 進入畫面之後，請逐一提交隊員名單，第一個提交的預設為隊長，提交後的資料將會顯示在表單下方供使用者檢視，<strong>建議將圖片先縮至1200px*1000px以內</strong>，否則圖檔過於龐大將無法上傳。如果是<strong>外籍生</strong>的話，請在<strong>第二證件上提供有關國籍、性別、護照名與居留證/護照號碼</strong>的資訊</p>

<p>※如果<strong>學生證背面沒有學校在學戳章</strong>，請向學校申請<strong>在學證明單據</strong>，並且拍下上傳。</p>

<h2>羽球報名</h2>
<p><img alt="" src="https://i.imgur.com/aR1r3u1.jpg" style="height:647px; width:900px" /></p>

<p><br />
1. 上傳相片檔案：<br />
　(i) 僅限上傳.jpg、.png格式。<br />

　(ii) 大頭照為選手證使用，以易於辨識為主，建議照片比例同2吋照片（寬:高=7:9），並以正向擺放。<br />

　(iii) 學生證背面請附上107學年度上學期之註冊章/貼，或學生證背面無相關證明，請至學校教務處申請在校證明。</p>


<p>2. 手機：第一名隊員將被認定為該隊隊長，為方便聯絡，每組隊員應提供該手機號碼。</p>

<p><br />
3. 保險相關資料：<br />
　(i) 主辦方將為每位隊員保險，故請確實填寫身分證字號。<br />
　(ii) 身分證字號首字請填大寫。<br />

　(iii) 外籍生需提供有關國籍、性別、護照名與居留證/護照號碼的照片資訊。</p>

<p><br />
4.&nbsp;<strong>送出前請再三檢查所有資料皆已正確輸入</strong>。</p>


<p>(二) 確認隊員資料<br />
　　1. 「我的隊伍」欄位可檢視該隊伍的狀態，如果<strong>已經正常提交隊伍資料</strong>，則可以<strong>點擊上傳繳費照。</strong>點選<strong>查看</strong>，並可檢視隊伍的隊員資料和繳費照。<br />
　　2. 若在報名後因系統因素或特殊原因需要修改資料，請&nbsp;<a href="https://www.facebook.com/2019%E5%A4%A7%E8%B3%87%E7%9B%83-750720528613543/">聯絡網站管理員</a>&nbsp;。<br />
<br />
(三) 檢視報名結果<br />
　　報名方可以在「我的隊伍」中，檢視主辦方是否已確認報名方的資料與匯款紀錄。<br />
<br />
<img alt="" src="https://i.imgur.com/yAskNuL.jpg" style="height:290px; width:900px" /></p>
<br />
<p><strong>三、匯款</strong></p>

<p>(一) 匯款方式<br />
　　2019大資盃開放郵局匯款、跨行匯款、無摺存款等多種匯款方式。<br />
<br />
(二) 報名費用與匯款帳戶<br />
　　1. 報名費用:&nbsp;</p>

<table class="default">
	<tbody>
		<tr>
			<td>報名費</td>
			<td colspan="8" rowspan="1">4,500</td>
		</tr>
		<tr>
			<td>保證金</td>
			<td colspan="8">500</td>
		</tr>
		<tr>
			<td>下屆主辦基金</td>
			<td colspan="8">200&nbsp;</td>
		</tr>
		<tr>
			<td>保險費</td>
			<td colspan="8">39/人</td>
		</tr>
	</tbody>
</table>

<p>　 　　每支隊伍應繳交費用為：<strong>報名費 + 保證金 + 保險費 &times; 隊員人數 +&nbsp;下屆主辦基金</strong><br />
　　2. 匯款帳戶：<br />
	　 　　郵局代號：700<br />
	　 　　存簿帳號：0081146-0152349<br />
　 　　戶名：國立彰化師範大學資管系系羽邱郁茜<br />
<!--need modify--><br />
(三) 填寫匯款資訊<br />
　　1. 請各校系體育負責人或系隊負責人在匯款後，將收據保存好，並拍照上傳至報名網站中的「我的隊伍」<br />
　　　（請上傳清晰可辨識的.jpg, .png檔案）。<br />
　　2. 上傳成功後，可以點擊<strong>查看</strong>，並確認有無成功上傳。<br />
<img alt="" src="https://i.imgur.com/TlkaHJB.jpg" style="height:290px; width:900px" /><img alt="" src="https://i.imgur.com/gjdto0p.jpg" style="height:274px; width:900px" /><br />
　&nbsp;<br />
&nbsp;</p>

<p><strong>四、等待報名結果</strong></p>

<p>　　1. 資料核對與報名結果：<br />
　　　(i) 該隊伍項目尚有名額：<br />
　　　　主辦單位將核對您的隊伍與匯款資料，若有誤，主辦方將以<strong>e-mail通知</strong>各負責人補齊資料或退補款項，<br />
　　　　在資料/匯款資訊都核對正確後，才算資料完成及繳費完成，<br />
　　　　主辦方將會<strong>寄信通知您報名成功</strong>，您<strong>也可以在「我的隊伍」中檢視隊伍是否已報名成功</strong><br />
　　　(ii) 隊伍數量超過該項目上限：<br />
　　　　將<strong>依據各隊伍的資料完成時間與繳費完成時間排序</strong>，完成時間較早者有較高的優先權；<br />
　　　　若報名失敗，主辦方將以email連絡退款事宜。<br />
　　2. 等候時間：<br />
　　　(i) 第一階段：<br />
　　　　主辦方將在<strong>數個工作天內核對您的資料</strong>，即時更新「我的隊伍」中的資料狀態及&nbsp;<a href="http://nuic2019ncue.com.tw:8000/reg_status/">報名現況</a>&nbsp;，<br />
	&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 並在第一階段結束後刪除未完成之資料。<br />
　　　　請您務必在第一階段結束前查看是否報名成功。<br />
　　　(ii) 第二階段：<br />
　　　　主辦方將會<strong>每天</strong>檢查資料及匯款紀錄，並刪除未完成之資料。<br />
　　　　報名隊伍錄取順序取決於資料確認時間以及繳費完成時間，請盡速完成上述動作以免向隅<br />
　　　　為確保隊伍的報名權益，若有任何資料缺補，請盡早向主辦單位反應。 　　<br />
　　&nbsp;<br />
<br />
若對報名網站有任何疑問或使用上的困擾，請&nbsp;<a href="https://www.facebook.com/2019%E5%A4%A7%E8%B3%87%E7%9B%83-750720528613543/">聯絡網站管理員</a>&nbsp;，我們將盡快解答您的問題。</p>
       
		</div>
              </div>

            </div>
          </section>
	</div>
	{% endblock %}
