{% extends "post/base.html" %}
	{% block title %}Q&A問答{% endblock %}
	{% block style %}<style>
		.a{
			cursor: pointer;
		}
		  .align{
		margin-left:200px;
		margin-right:200px;
		width:80%;
		}
		hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
	</style>{% endblock %}
	{% block content %}
	    <!-- Section One -->
        <div class="wrapper style2">
          <section class="container">
            <div class="row double">
              <div class="10u">
                <div  class="align">
               <h1>Q &amp; A</h1>
		<h2>常見問題</h2>
 		<p><strong>【1】</strong><br />
Q：是否可以報名第二隊?<br />
A：本次比賽以系為單位，同校若有兩個資訊相關科系，則兩個系在第一階段皆可各報名一隊，<br />
在第二階段報名時，若該項目還有餘額，則可以報名第二隊（不接受第三隊）。</p>

<p><strong>【2】</strong><br />
Q：可以不要保險嗎？<br />
A：如未打算保保險，則需下載<a href="http://drive.google.com/open?id=19hIki3Z_64-QYtofYs6Cyt6jJ3MyMn-r">保險切結書</a>，以實體寄信的方式寄至 <strong>500彰化縣彰化市進德路1號</strong>，收件人：<strong>林育藜</strong>，但是<strong>仍須匯款保險金額</strong>，此保險金會到<strong>賽後逐一退回</strong>。</p>

<p><strong>【3】</strong><br />
Q：報名系統同一校系只能註冊一個帳號嗎?<br />
A：報名系統無此限制，為了方便大家報名，可以由各系隊分別報名，或是由系體幹統一報名（各系自行協調）。</p>

<p><strong>【4】</strong><br />
Q：學生證背面沒有註冊章或註冊貼<br />
A：在報名時可以用其他可證明該選手具有107上學期在學身份之任何證明代替，<br />
如：在學證明，校務系統截圖（需有姓名，學號，在學學期，學校），或是學生證影本蓋註冊章。</p>

<p><strong>【5】</strong><br />
Q：是否可以聯隊參賽?<br />
A：可以的。</p>

<p><strong>【6】</strong><br />
Q：大頭照是否可以使用生活照?<br />
A：可以的，上傳的照片將會用於選手證上，以清晰、容易辨識為原則。<br />
（其中寬高比7：9 為選手證上相片的比例）</p>

<p><strong>【7】</strong><br />
Q：若資料有漏填或錯誤，該如何修改?<br />
A：請將欲修改的選手、名稱、欄位、欲修改的內容，寄信至 nuic2019ncue@gmail.com。<br />
若為圖片，請以以下方式命名: &ldquo;姓名_類別.jpg&rdquo; ex:王小明_學生證正面.jpg，壓縮後以附件寄出。</p>
                </div>
              </div>

            </div>
          </section>
        </div>
	
	{% endblock %}
